/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
	/*********** Lodging and popular ***********/
	.lodging-and-popular {
		flex-direction: column;
	}

	/*********** card ***********/
	.card-title {
		font-size: 14px;
	}

	.card-subtitle {
		font-size: 13px;
	}
	/*********** Lodging ***********/
	.lodging {
		width: 100%;
	}

	/*********** popular ***********/
	.popular {
		width: 100%;
		margin-top: 50px;
	}

	.popular-cards {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.popular-cards a {
		width: 30%;
	}

	/*********** activities ***********/
	.activities-cards a,
	.activities-cards a .card {
		height: 270px;
	}
	.activities-cards a .card img {
		height: 200px;
	}
}
