/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
	.lodging-and-popular {
		flex-direction: column;
	}

	.lodging {
		width: 100%;
	}

	.popular {
		width: 100%;
		margin-top: 50px;
	}

	.popular-cards {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.popular-cards a {
		width: 30%;
	}

	.card-title {
		font-size: 14px;
	}

	.card-subtitle {
		font-size: 13px;
	}

	.activities-cards a {
		height: 270px;
	}
}
