/* Small devices (phones, less than 768px) */
/* largeur min 320px */
@media (max-width: 768px) {
	.main-container {
		padding: 0;
	}

	/******* header ******/
	.header {
		flex-direction: column;
	}
	.logo {
		margin: auto;
		padding: 20px 0;
	}

	.nav-links {
		gap: 0;
		padding: 0;
		justify-content: space-around;
	}

	.nav-links li {
		width: 100%;
		display: flex;
	}

	.nav-links li a {
		text-align: center;
		width: 100%;
		padding-top: 0px;
		padding-bottom: 0.5em;
		border-bottom: 3px solid var(--main-bg-color);
	}

	.nav-links li :hover {
		color: var(--main-color);
		border-bottom: 3px solid var(--main-color);
		border-top: 0;
	}

	/*********** search ***********/
	.search {
		padding: 0 20px;
		margin-bottom: 0;
	}
	.search-bar {
		position: relative;
	}

	.location-input {
		flex-grow: 1;
	}
	#search-btn-text {
		display: none;
	}
	#search-icone {
		position: absolute;
		right: -10px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 49px;
		height: 49px;
		font-size: 17px;
		background-color: var(--main-color);
		color: white;
		border-radius: 15px;
		box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
		border: none;
		cursor: pointer;
	}

	/*********** filters ***********/

	.filter {
		width: 100%;
	}

	.filter-bar {
		width: 100%;
		flex-wrap: wrap;
	}
	.filter-btn {
		width: calc((100% / 2) - 10px);
	}
	.filter-btn span {
		font-size: 14px;
	}
	.infobar {
		padding-bottom: 35px;
	}

	/*********** lodging popular and activities ***********/
	.lodging-and-popular {
		flex-direction: column-reverse;
		gap: 0;
	}

	.lodging-and-popular section {
		border-radius: 0;
	}

	.lodging-and-popular section h2 {
		font-size: 22px;
	}

	.lodging {
		background-color: white;
	}

	.lodging-cards,
	.popular-cards,
	.activities-cards,
	.footer {
		flex-direction: column;
		gap: 15px;
	}

	.lodging-cards a,
	.popular-cards a,
	.activities-cards a {
		width: 100%;
		flex-direction: column;
	}

	/*********** activities ***********/
	.activities-cards a .card {
		height: 200px;
	}
	.activities-cards a .card img {
		height: 141px;
	}

	/*********** footer ***********/
	.footer {
		padding: 30px;
		flex-direction: column;
		gap: 50px;
	}
	.footer section {
		width: 100%;
	}
}
